@tailwind base;
@tailwind components;
@tailwind utilities;
  
:root {
  --main: #FE9F61;
  --overlay: rgba(0, 0, 0, 0.8);

  --bg: #fff4e0;
  --bw: #fff;
  --blank: #000;
  --border: #000;
  --text: #000;
  --mtext: #000;
  --ring: #000;
  --ring-offset: #fff;

  --border-radius: 6px;
  --box-shadow-x: 4px;
  --box-shadow-y: 3px;
  --reverse-box-shadow-x: -4px;
  --reverse-box-shadow-y: -3px;
  --base-font-weight: 500;
  --heading-font-weight: 800;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

.dark {
  --bg: #272933;
  --bw: #212121;
  --blank: #fff;
  --border: #000;
  --text: #e6e6e6;
  --mtext: #000;
  --ring: #fff;
  --ring-offset: #000;

  --shadow: var(--box-shadow-x) var(--box-shadow-y) 0px 0px var(--border);
}

body {
  background-color: var(--bg);
  color: var(--text);
  overflow-y: scroll;
}

@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

@keyframes marquee2 {
  0% { transform: translateX(100%); }
  100% { transform: translateX(0); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee2 {
  animation: marquee2 30s linear infinite;
}

.animate-marquee-rtl {
  animation: marquee2 30s linear infinite reverse;
}

.animate-marquee2-rtl {
  animation: marquee 30s linear infinite reverse;
}
